*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Menu Burger */

header{
    background-image: url(Annexes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.titreHaut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
