*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Menu Burger */
.rechercher
    {
        position: relative;
        top: -100px;
        background: gray;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.placementtitre{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* header{
    background-image: url(Annexes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.titrehaut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 30px;
} */
