*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Menu Burger */
.rechercher
    {
        position: relative;
        top: -100px;
        background: gray;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.placementtitre{
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}